/Solucion_Codigo/Ejercicio/nbproject/private/
/Solucion_Codigo/Ejercicio33/build/
/Solucion_Codigo/Ejercicio33/nbproject/private/
/Solucion_Codigo/Ejercicio6f/build/
/Solucion_Codigo/Ejercicio6f/nbproject/private/
/Solucion_Codigo/AlquilerPeliculas/build/
/Solucion_Codigo/AlquilerPeliculas/dist/
/Solucion_Codigo/AlquilerPeliculas/nbproject/private/
/Solucion_Codigo/Ejercicio2/nbproject/private/
